.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #eeeeee;
}

.calendar-today {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
  padding: 4px;
  border-radius: 1000px; /* This only needs to be large enough to never be an issue */
}

.start_apps_button {
  background-color: @theme_bg_color;
  box-shadow: none;
}

.start_apps_button label {
  text-align: center;
}
